/*
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}


// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Oswald", sans-serif;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  min-height: 80vh;
  background-color: #fff;
  padding: 70px 0;
  text-align: center;
}

.menu {
  position: fixed; /* Hacer la barra de navegación fija */
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  background-color: #fff; /* Agregar un color de fondo */
  z-index: 1000; /* Asegurar que la barra esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agregar una sombra sutíl */
  font-family: "Oswald", sans-serif;
}

.logo {
  font-size: 25px;
  color: #111;
  font-weight: 400;
}

.logo img{
  width: 80px;
}

#menu {
  display: none;
}

.menu label {
  cursor: pointer;
  display: inline-block;
}

.menu label img.menu-icono {
  width: 25px;
}

.main-content {
  padding-top: 60px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  font-size: 18px;
  padding: 20px;
  color: #111;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #4e4e4e;
  padding: 20px;
  min-width: 400px;
}

#cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1em;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  width: 100%;
}

th,
td {
  color: rgb(14, 13, 13);
}

.borrar {
  background-color: #111;
  border-radius: 50%;
  padding: 5px 10px;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.header-img img {
  max-width: 100%; /* Ajusta el tamaño máximo de la imagen */
  height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
}

.header-txt h2 {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1;
  color: #111;
  font-family: "Oswald", sans-serif;
  margin-bottom: 15px;
}

.header-txt p {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.btn-1,
.btn-2 {
  display: inline-block;
  padding: 11px 25px;
  background-color: #e64343;
  color: rgb(8, 8, 8);
  border-radius: 5px;
  font-size: 15px;
  text-decoration: none;
}

.btn-1:hover,
.btn-2:hover {
  background-color: #ffffff;
}

.btn-2 {
  display: inline-block;
  padding: 8px 12px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  transition: background-color 0.3s;
  width: 120px;
  text-align: center;
  margin-right: 10px;
}

.btn-2:hover {
  background-color: #4e4e4e;
}

.info-img {
  flex-basis: 100%;
  text-align: center;
  height: 500px;
  width: 500px;
}

.informacion {
  margin-top: 20px;
  background-color: #f2e6e6;
}

.products {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
}

.product-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #fff;
}

.product {
  width: calc(33.3% - 20px);
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
}

.product:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product img {
  width: 100%;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product-txt {
  padding: 15px;
  font-family: "Oswald", sans-serif;
}

.product-txt h3 {
  margin-top: 0;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #333;
}

.product-txt p {
  margin: 10px 0;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  color: #666;
}

.precio {
  font-size: 16px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #333;
}

.agregar-carrito {
  display: inline-block;
  padding: 8px 12px;
  width: 130px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.agregar-carrito:hover {
  background-color: #4e4e4e;
}

.products {
  margin: 20px auto;
  max-width: 800px;
  padding: 0 20px;
  background-color: #f9f9f9;
}

.footer {
  padding: 50px;
  background-color: #111;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.link h3 {
  font-size: 18px;
  color: #fff;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.link a {
  font-size: 16px;
  color: #dcdcdc;
  display: block;
}

.link li {
  font-size: 16px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.menu-label {
  display: none;
}

.menu-icono {
  display: none;
}

.servicio-container {
  margin-top: 80px;
  margin-bottom: 16rem;
}

.servicio {
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.servicio h2 {
  margin-top: 0;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
  }

  .menu label {
    display: initial; /* Se corrigió aquí */
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #181818;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  .menu ul li a {
    color: #fff;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .logo {
    display: none;
  }

  .submenu:hover #carrito {
    min-width: 100%;
  }

  .header-content {
    padding: 50px 0;
    flex-direction: column;
  }

  .header-txt {
    font-size: 100%;
    text-align: center;
  }

  .header-txt h1 {
    font-size: 70px;
  }

  .info {
    padding: 30px 30px 0 30px;
    flex-direction: column;
  }

  .info-txt {
    margin-bottom: 30px;
  }

  .products {
    padding: 0 30px 30px 30px;
  }

  .product h2 {
    margin-bottom: 30px;
  }

  .product-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #fff;
  }

  .footer {
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .menu-label {
    display: flex;
  }

  .menu-icono {
    display: flex;
  }
}
