/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Estilos generales */
body {
  font-family: "Oswald", sans-serif;
  padding-bottom: 100px; /* Padding en la parte inferior para evitar que el footer se superponga */
  min-height: 100vh; /* Asegura que el cuerpo tenga al menos el 100% de la altura de la ventana */
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Estilos de la barra de navegación */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Oswald", sans-serif;
}

.logo {
  font-size: 25px;
  color: #111;
  font-weight: 400;
}

.logo img{
  width: 80px;
}

#menu {
  display: none;
}

.menu label {
  cursor: pointer;
  display: inline-block;
}

.menu label img.menu-icono {
  width: 25px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  font-size: 18px;
  padding: 20px;
  color: #111;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;
}

.submenu {
  position: relative;
}

.submenu #carrito {
  display: none;
}

.submenu:hover #carrito {
  display: block;
  position: absolute;
  right: 0;
  backdrop-filter: blur(10px);
  top: 100%;
  z-index: 1;
  background-color: #4e4e4e;
  padding: 20px;
  min-width: 400px;
}

#cart-count {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 1em;
  position: absolute;
  top: 10px;
  right: 10px;
}

.btn-2 {
  display: inline-block;
  padding: 8px 12px;
  background-color: #111;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Oswald", sans-serif;
  transition: background-color 0.3s;
  width: 120px;
  text-align: center;
  margin-right: 10px;
}

.btn-2:hover {
  background-color: #4e4e4e;
}

/* Estilos de los servicios */
.servicio-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 80px;
}

.servicio {
  flex: 1;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.servicio h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.servicio p {
  font-size: 16px;
  color: #666;
}

/* Estilos del footer */
.footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.link a {
  font-size: 16px;
  color: #dcdcdc;
  display: block;
}

.link li {
  font-size: 16px;
  color: #fff;
  font-family: "Oswald", sans-serif;
}

.menu-label {
  display: none;
}

@media (max-width: 991px) {
  .menu {
    padding: 20px;
  }

  .menu label {
    display: initial;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #181818;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  .menu ul li a {
    color: #fff;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }

  .logo {
    display: none;
  }

  .submenu:hover #carrito {
    min-width: 100%;
  }

  .servicio {
      flex-basis: calc(50% - 20px);
      margin-right: 0;
      margin-bottom: 20px;
  }

  .footer {
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer {
    position: relative;
    margin-top: auto;
    
  }
}

@media screen and (max-width: 768px) {
  .menu-label {
    display: flex;
  }

  .menu-icono {
    display: flex;
  }

  .servicio {
      flex-basis: calc(100% - 20px);
      margin-right: 0;
      margin-bottom: 20px;
  }

  .footer {
    padding: 20px;
  }
}
